body {
  background-color: #343d46;
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.card {
  background-color: aquamarine;
  padding: 30px 40px;
  border-radius: 5px;
  border: whitesmoke;
  border-width: 1px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  margin: 0;
  text-align: center;
}

.form {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 1rem;
  column-gap: 3rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}

label {
  font-weight: bold;
}

.characterAmount {
  display: flex;
  align-items: center;
}

.number {
  width: 2rem;
}

.passwordDisplay {
  background-color: white;
  color: black;
  padding: 1rem;
  border: 1px solid #333;
  height: 2rem;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: break-all;
  border-radius: .5rem;
}


.btn {
  grid-column: 2;
  border: 2px solid whitesmoke;
  background-color: transparent;
  border-radius: 1rem;
  color: hsl(0, 0%, 100%);
  padding: .5rem 1rem;
  font-weight: bold;
  cursor: pointer;
}

.btn:hover {
  background-color: #ffffff33;
}

.button {
  color: #ffffff !important;
  text-decoration: none;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  padding: 15px;
  background-color: transparent;
  border-radius: 50px;
  display: inline-block;
  justify-content: center;
  border: none;
  transition: all 0.4s ease 0s;
  cursor: pointer;
}

#copy {
  float: right;
}

/* Start Media Query */
/* A Media Query max-width: 980px */
@media screen and (max-width: 980px) {
  /* Resized content to fit 980px  */
  body {
      max-width: 980px;
  }   
  /* Styles for the card div */
  #card {
      width: 100%;
      }
}
  /* A Media Query max-width: 786px */
  @media screen and (max-width: 786px) {
  /* Resized content to fit 786px  */
  body {
      max-width: 786px;
  } 
  /* Styles for the card div */
  #card {
      width: 100%;
      }
/* Styles for generate button */
#generate {
  
  margin-left: 10%;
  margin-bottom: 10px;
}

/* Styles for copy button */

  }
  /* A Media Query max-width: 640px */
  @media screen and (max-width: 640px) {
   /* Resized content to fit 640px  */
   body {
      max-width: 640px;
  } 
  
   #card {
      width: 100%;
      }
      #btn {
          margin-top: 20px;
      }
      /* Styles for generate button */
      #generate {
          margin-left: 22%;
          
      }  
  }

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}